page-lost-items {
    ion-header {
        border-bottom: 2px solid #d6ba0a;
    }
    ion-content {
        background-color: #EBE6DB!important;
    }
    .tabber {
        background-color: #d6ba0a
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #000000;
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }
    ion-card {
        width: 100%!important;
        margin-left: 0%!important;
    }
    ion-card-content p {
        color: #3E3F41!important;
    }
    img {
        border: 1px solid #c4c4c4;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
}